.search-container {
  text-align: center;
  padding: 20px;
  min-height: 100%;
}

.search-container input[type="text"] {
  padding: 10px;
  width: 50%;
  margin-right: 10px;
}

.search-container button {
  padding: 10px 20px;
  background-color: #286fc7;
  color: white;
  border: none;
  cursor: pointer;
}

.books-results {
  display: grid;
  min-height: 95vh;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
}

.book img {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
}

.book h3 {
  text-align: center;
}
