.password-reset-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px);
  background-color: #f4ece6;
}

.password-reset-form {
  background: white;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 340px;
  margin: 20px;
}

.password-reset-form h2 {
  color: #286fc7;
  margin-bottom: 24px;
  text-align: center;
}

.password-reset-form input {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  width: 100%;
}

.password-reset-button {
  background-color: #3f6699;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  display: block;
  width: 100%;
  margin-top: 10px;
}

.password-reset-button:hover {
  background-color: #2d5173;
}
